<html>

<head>
	<title>Change Appointment</title>
	<link rel="icon" href="https://www.pngitem.com/pimgs/m/419-4199332_indian-passport-logo-png-transparent-png.png"
		type="image/x-icon">
</head>

<body>
	<h1>Change Appointment</h1>
	<form th:action="@{/changeAppointmentTime}" method="post">
		<label>UserName:</label>
		<input type="text" name="passportNumber" required><br>
		<label>Date:</label>
		<input type="date" name="appointmentDate" required><br>
		<button type="submit">change Appointment Time</button>