<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <title>View Application</title>
</head>
<body>
      <h1>Application Details</h1>
      <table>
            <tr>
                  <th>Passport Number</th>
                  <th>Full Name</th>
                  <th>Gender</th>
                  <th>Date of Birth</th>
                  <th>Nationality</th>
                  <th>Address</th>
                  <th>Phone Number</th>
                  <th>Email</th>
                  <th>Date of Application</th>
            </tr>
            <tr>
                  <td>${application.passportNo}</td>
                  <td>${application.fullName}</td>
                  <td>${application.gender}</td>
                  <td>${application.dateOfBirth}</td>
                  <td>${application.nationality}</td>
                  <td>${application.address}</td>
                  <td>${application.phoneNumber}</td>
                  <td>${application.email}</td>
                  <td>${application.dateOfApplication}</td>
            </tr>
      </table>
</body>
</html>