<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passport Application Details</title>
</head>
<body>
    <h1>Passport Application Details</h1>
    <p>Name: <span th:text="${name}"></span></p>
    <p>Registration Number: <span th:text="${regNo}"></span></p>
    <p>Email ID: <span th:text="${email}"></span></p>
    <p>Appointment Date: <span th:text="${appointmentDate}"></span></p>
    <p>Passport Office Address: <span th:text="${passportOfficeAddress}"></span></p>
</body>
</html>